.img-fluid{
        max-width:10rem;
        height: auto;
}
.carddd{
        background-color: black;
}
.car-margin
{
        margin-top: 20%;
}
.navbarr{
        align-items: center;
        text-align-last: center;

}
